<head>
    <title>{{title}}</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta http-equiv='Content-Language' content='en'>
    <link rel='stylesheet' href='/bootstrap-3.3.4/css/bootstrap.css'></link>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.css'></link>
    <script type='text/javascript' src='/javascripts/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/javascripts/handlebars.runtime.min.js'></script>
    <script type='text/javascript' src='/javascripts/templates.js'></script>
    <script type='text/javascript' src='/jquery-ui-1.11.2.custom/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/bootstrap-3.3.4/js/bootstrap.min.js'></script>
</head>