<head>
    <title>{{title}}</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta http-equiv='Content-Language' content='en'>
    <link rel='stylesheet' href='/bootstrap-3.3.4/css/bootstrap.css'></link>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.css'></link>
</head>