<div id='pub_name'>
</div>
<div class="row">
    <div class='col-md-12'>
        <label for="amount">Logos</label>
        <div class="row">
            <div class='col-md-3 col-sm-3 col-xs-3'>
                <input type="text" class="form-control" id="amount">
            </div>
            <div class='col-md-9 col-sm-9 col-xs-9'>
                <div id="slider" class="logoCountSlider"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class='col-md-6 col-sm-6 col-xs-6'>
        <button id='tryAgain' type="button" class="btn btn-default btn-block" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="New Logos">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>
    </div>
    <div class='col-md-6 col-sm-6 col-xs-6'>
        <button id='swap' type="button" class="btn btn-default btn-block" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Swap Logos">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div id='logoTable'></div>
{{>modal}} {{>footer-scripts}}
<script src="/javascripts/pub-main.js"></script>
<script src="/javascripts/utils.js"></script>