body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.circle .image-wrap {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.card .image-wrap {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.logoCountSlider {
    margin-top: 0.7em;
}

.row {
    margin-bottom: 0.5em;
}